body {
  background-color:  hsl(0, 0%, 98%);
}
h1{
color:   hsl(234, 12%, 34%);
}
p{
    font-family: 'Poppins', sans-serif;
    color: hsl(229, 6%, 66%);
}
.top-section{
  display: block;
text-align: center;
}
.first-paragraph{
  font-family: 'Poppins', sans-serif;
  font-size:42px;
  font-weight: 400;
  margin-bottom: 0;
    color: hsl(229, 6%, 66%);

}

}
.first-h1{
  margin: inherit;
  font-size: 50px;
  display: inline-block;
}


.cards{

  height: 800px;

}

.builder-card{
    background-color: #fff;
    display: inline-block;
    padding: 20px;
    border-radius: 15px;
    border: solid 6px #fff;
    border-top-color:  hsl(0, 78%, 62%);
    box-shadow: 0 8px 8px 0 hsl(229, 6%, 66%);
    position: absolute;
    left: 40%;
    margin-top: 70px;
    width: 200px;

}
.karma-card{
    background-color: #fff;
    display:inline-block;
    padding: 20px;
    border-radius: 15px;
    border: solid 6px #fff;
    border-top-color:  hsl(34, 97%, 64%);
    box-shadow: 0 4px 8px 0 hsl(229, 6%, 66%);
    position: absolute;
    left:40%;
    top:600px;
    margin-top: 10px;
    width: 200px

}

.supervisor-card{
  background-color: #fff;
  display: inline-block;
  padding: 20px;
  border-radius: 15px;
  border: solid 6px #fff;
  border-top-color:  hsl(180, 62%, 55%);
  box-shadow: 0 4px 8px 0 hsl(229, 6%, 66%);
  width: 200px;
position:absolute;
left: 250px;
top: 500px;


}

.calculator-card{
  background-color: #fff;
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  border: solid 6px #fff;
  border-top-color:  hsl(212, 86%, 64%);
  box-shadow: 0 4px 8px 0 hsl(229, 6%, 66%);
  position: absolute;
  right: 280px;
  top:500px;

}
@media screen and (max-width: 375px) {
  body {
    background-color: red;
  }

}
